*.mp4
*.ass
*.csv
*.txt
*.layers/
verseline
.vercel
raw-projects/
node_modules/
.next/
.env
.env.local
packages/backend/.env
packages/frontend/.env.local
packages/backend/drizzle/
*.tsbuildinfo
dist/
